# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Misc.
errores.txt
/frontend/.env
/backend/.env
/backend/admin-hashed-password.js
/backend/test-bcrypt.js
/backend/test-connection.js
/backend/setup-database.sh
/backend/scripts/init-database.sql
/backend/pgdump
/backend/eState, useEffect } from react
